
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to right, rgba(247, 76, 6, 0.5), rgba(249, 188, 44, 0.5)), url('https://rohan3004.github.io/Face-Frenzy/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #F7F6BB;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2vh;
}

button {
    margin-right: 1vh;
    background-color: #87A922;
    border: none;
    color: #F7F6BB;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.details{
    padding: 5vh;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: rgba(255, 255, 255, 0.8); /* 80% white background */
}

input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: rgba(255, 255, 255, 1); /* Full white background on focus */
}

button:hover {
    background-color: #114232;
}


#score {
    font-size: 32px;
    margin: 20px 0;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    gap: 20px;
    margin-top: 30px;
}

.hole {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-color: #114232;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(3, 10vh);
    }
    .hole {
        width: 10vh;
        height: 10vh;
    }
    input[type="text"]{
        margin-bottom: 2vh;
    }
    .details{
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.hole img {
    width: 55%;
    height: 55%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    border-radius: 50%;
    transform: scale(0);
    cursor: pointer;
}

.hole.active img {
    transform: scale(1.1);
}

.hole img.clicked {
    border: 4px solid tomato;
}